* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --bg-color: #eeeeee;
  --input-header-color: rgba(255, 255, 255, 0.8);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.pinimg.com/736x/87/f2/61/87f261b6a7723f1d85324b78ade11383.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333333;
}

form {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.7);
  width: 65%;
  height: 40%;
}

form > * {
  padding: 1rem;
}

form > p {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 5rem;
}

form > p > label[for="email"] {
  padding-bottom: 0.25rem;
}

p > input {
  display: flex;
  align-self: flex-start;
  justify-self: center;
}

#email-error {
  padding-top: 0.25rem;
}

#location {
  display: flex;
  flex-direction: column;
  border-right: none;
  border-left: none;
  height: 6.5rem;
}

#location > p {
  display: flex;
  align-items: flex-start;
  justify-self: flex-start;
  align-items: center;
}

#location > * {
  padding-right: 0.5rem;
}

label[for="country"] {
  padding-left: 0.5rem;
}

#postal-error {
  display: block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-wrap: none;
  max-width: 27rem;
}

#password-div {
  display: flex;
  height: 7rem;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-top: 3rem;
}

#password-div > p {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  padding: 0.25rem;
}

#password-div > p > label {
  padding-right: 0.5rem;
}

#password-error {
  display: block;
  max-width: 15rem;
  padding-left: 0.25rem;
}

#password-confirmation-error {
  padding-left: 0.25rem;
}

button {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-color: #aaaaaa;
  border-radius: 3px;
  height: 1.5rem;
  width: 3.5rem;
}

input[altered="true"]:valid {
  background-color: rgba(90, 250, 100, 0.3);
}

input[altered="true"]:invalid {
  background-color: rgba(250, 100, 90, 0.3);
}

input[altered="false"]:valid {
  background-color: white;
}

input[altered="false"]:invalid {
  background-color: white;
}
